.weeklyRecap {
  margin-top: 4rem;
}

#weeklyRecap + h3 {
  font-weight: none;
}

#weeklyRecap + table,
#weeklyRecap + th,
#weeklyRecap + td {
  color: white;
  border: 2px solid white;
  border-radius: 4rem
}

table {
  table-layout: fixed;
  width: 100%;
}

td {
  padding-top: .5rem;
}

p {
  font-size: 1.25rem;
  padding: 0 4rem 0 4rem;
}

.css-1mxz8qt-MuiPaper-root {
  color: red !important;
}

h2.standingsHeader {
  margin-top: 0;
}

.scoring-key {
  justify-content: center;
  border: 1px white solid;
  padding: .5rem 0 .5rem 0;
  font-size: 1rem;
  /* width: 50%; */
}

.equation-highlight {
  color: orange;
}

@media screen and (max-width: 722px) {
  p {
    font-size: .7rem;
    padding: 0 .3rem 0 .3rem;
  }
}
