.weeklyRecap {
  margin-top: 4rem;
}

#weeklyRecap + h3 {
  font-weight: none;
}

#weeklyRecap + table,
th,
td {
  color: white;
  border: 2px solid white;
  border-radius: 4rem
}

table {
  table-layout: fixed;
  width: 100%;
}

td {
  padding-top: .5rem;
}

p {
  font-size: 1.25rem;
  padding: 0 4rem 0 4rem;
}

@media screen and (max-width: 722px) {
  p {
    font-size: .7rem;
    padding: 0 .3rem 0 .3rem;
  }
}
