h3 {
  margin-top: 1rem;
  font-weight: bold;
}
.matchups {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.matchup {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  border: black solid 0.1rem;
  border-radius: 0.15rem;
  box-shadow: 0.1rem 0.1rem black;
  width: 100%;
  height: 4rem;
  margin-bottom: 1rem;
}

.score {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background-color: rgba(43, 41, 39, 0.985);
  border: black solid 1px;
  border-radius: 1rem;
  padding: auto 0 auto 0;
  width: 8rem;
  height: 2rem;
}

@media screen and (max-width: 954px) {
  .matchup {
    font-size: 0.9rem;
  }

  .score {
    width: 5.5rem;
  }
}

@media screen and (max-width: 722px) {
  .matchup {
    font-size: 0.85rem;
  }

  .score {
    width: 4rem;
  }
}

@media screen and (max-width: 636px) {
  .matchup {
    font-size: 0.65rem;
  }

  .score {
    width: 3rem;
    height: 1.5rem;
  }

  .ranking {
    font-size: 0.6rem;
  }
}

.divider {
  width: 0.5rem;
  background-color: black;
}

.manager {
  background-color: rgb(227, 226, 226);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}

.names {
  display: flex;
  flex-flow: column nowrap;
  justify-content: left;
  font-weight: bold;
}

.tie {
  color: rgb(248, 244, 244);
}

.win {
  background-color: rgb(137, 209, 137);
}

.loss {
  background-color: rgb(243, 114, 114);
}
